.github/**
.vscode/**
.vscode-test/**
out/src/**
out/test/**
test/**
src/**
**/*.map
.eslintrc.json
.gitignore
.prettierignore
.vscode-test.mjs
tsconfig.json
prettier.config.js
webpack.config.js
CHANGELOG.template.md
CHANGELOG.md
