.github/**
.vscode/**
.vscode-test/**
out/src/**
out/test/**
test/**
src/**
**/*.map
.gitignore
.prettierignore
tsconfig.json
prettier.config.js
webpack.config.js
tslint.json
CHANGELOG.template.md
CHANGELOG.md
